@use '@angular/material' as mat;
@import '~ngx-toastr/toastr';
@import '~@angular/material/theming';

@import "~@angular/material/prebuilt-themes/purple-green.css";

@import '~bootstrap/dist/css/bootstrap.css';

// warn-theme
body {
    --warn-color: #ff0000;
    --warn-lighter-color: #ffb3b3;
    --warn-darker-color: #ff0000;
    --text-warn-color: #{$light-primary-text};
    --text-warn-lighter-color: #{$dark-primary-text};
    --text-warn-darker-color: #{$light-primary-text};
}

$mat-warn: (
    main: #ff0000,
    lighter: #ffb3b3,
    darker: #ff0000,
    200: #ff0000,
    contrast: (
        main: $light-primary-text,
        lighter: $dark-primary-text,
        darker: $light-primary-text
    )
);

$theme-warn: mat-palette($mat-warn, main, lighter, darker);

// dark theme
$dark-primary: mat.define-palette(mat.$blue-grey-palette);
$dark-accent: mat.define-palette(mat.$deep-purple-palette);
$dark-theme: mat.define-dark-theme((
    color: (
        primary: $dark-primary,
        accent: $dark-accent,
        warn: $mat-warn
    )
));

// light theme
$light-primary: mat.define-palette(mat.$grey-palette);
$light-accent: mat.define-palette(mat.$cyan-palette);
$light-theme: mat.define-light-theme((
    color: (
        primary: $light-primary,
        accent: $light-accent,
        warn: $mat-warn
    )
));

// apply dark theme by default
@include mat.core-theme($dark-theme);
@include mat.button-theme($dark-theme);
@include mat.all-component-themes($dark-theme);

@mixin mix-toggle-button($dark-theme) {
    $primary: map-get($dark-theme, primary);
    $accent: map-get($dark-theme, accent);

    .mat-button-toggle {
        background-color: mat-color($primary);
        color: mat-color($primary, default-contrast);
    }
}

// @include angular-material-theme($theme);
@include mix-toggle-button($dark-theme);

// apply light theme only when an element has the my-light-theme css class
.my-light-theme {
    @include mat.core-color($light-theme);
    @include mat.button-color($light-theme);

    @include mat.all-component-colors($light-theme);

    @mixin mix-toggle-button($light-theme) {
        $primary: map-get($light-theme, primary);
        $accent: map-get($light-theme, accent);

        .mat-button-toggle {
            background-color: mat-color($primary);
            color: mat-color($primary, default-contrast);
        }
    }

    // @include angular-material-theme($theme);
    @include mix-toggle-button($light-theme);
}
